.header
    h1 Assignment
    nav
        ul
            li
                a(routerLink="/write") 과제 작성

            li
                a(routerLink="/task/admin/assign") 계정/과제 할당
            li
                a(routerLink="/result/admin") 유저현황
            li
                a(routerLink="/login") 로그아웃
                
    p 관리자가 작성하여 등록한 과제들을 확인할 수 있습니다.


.card.border-0.table-card.round-0.shadow-none.px-0
            .table-responsive.round-0
                    table.table.table-hover.board-table.box-shadow.br-10
                        thead
                            tr
                                th.text-center 번호
                                th.text-center 제목
                                th.text-center.col-3 작성자
                                th.text-center.col-3.btrr 등록일

                        tbody
                            // tr(*ngIf="!list")
                            //     td.p-6.text-center(colspan=5) 게시글이 없습니다.
                            
                            tr(*ngIf="!lisT")
                                td.p-6.text-center(colspan=5) 게시글이 없습니다.

                            ng-container(*ngIf="lisT")
                                tr(*ngFor="let item of lisT;let i = index")
                                    td.text-center {{ item.id }}
                                    td
                                        a.text-navy(routerLink="/task/admin/post", (click)="saveTitle(item.title)") {{item.title.length == 0 ? "제목없음" : item.title}}
                                    td.text-center.col-3 admin
                                    td.text-center.col-3 {{item.created}}

                    
