.card.border-0.table-card.round-0.shadow-none.px-0
            .table-responsive.round-0
                table.table.table-center.table-nowrap.card-table
                    thead
                        tr
                            th.text-uppercase(style="width: 16px;")
                            th.text-uppercase 이름
                            th.text-uppercase 제출
                            th.text-uppercase.text-center 파일
                            th.text-uppercase.text-center 합격/불합격
                            th.text-uppercase.w-1
                    tbody
                        tr()
                            td.text-center(colspan=6) 지원자가 없습니다.
                            td.goodchoice 
                            
                                button#modalOpenButton((click)="modal_remove()") 모달창 열기

                            #modalContainer.hidden
                                .modalContent
                                    p 합격여부를 알려주세요
                                    .YesOrNo
                                        button.accept 합격
                                        button.fail 탈락
                                    button#modalCloseButton((click)="modal_add()") 닫기
                            
