.header
    a.homebtn(routerLink="/task/admin/notice") 홈
    h1 Feedback
    nav
        ul
            li
                a(routerLink="/task/admin/feedback") 뒤로가기
    p {{list.user_name}} 지원자를 대상으로 한 피드백 입니다.
    
.card-body
    .info-form.row.first-child.p-3
        .col-md-8
            h3.m-0(style="font-size: 20px; line-height: 24px;") 제목 : {{ post.title }}
        .col-md-3.text-right
            .btn.btn-sm.btn-outline-orange 작성자 
            span(style="margin-left: 10px;") {{post.writer}}
            
    .hr.m-0
    .editor-area.mt-4.mb-4
        textarea#editor {{post.content}}
    

