.header
    h1 MyProfile
    nav
        ul
            li
                a((click)="move()") 내 정보
            
// .categories
//     button.myprofile 내 정보

.content-container
    .contentNotice
        h2.title Notice
    
