.Selectcontainer
    .selectBtn
        button.adminBtn((click)="move('moveAdmin')") 관리자
        button.userBtn((click)="move('moveUser')") 사용자
    
    .signup
        button.signupBtn(routerLink="/signup") 회원가입

    