h1 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0.2rem;
    padding: 0;
}

a.homebtn {
    display: inline-flex;
    width: 10px;
    height: 36px;
    padding-right: 28px;
    color: white;
}

p {
    color: white;
    margin: 0.2rem;
    padding: 0;
    width: 60%;
}

nav {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: 0.4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.icon {
    flex-basis: 25%;
}

.header {
    background: cadetblue;
    padding: 20px;
}

li {
    color: white;
}

a {
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    background: teal;
}

a:hover {
    background: yellowgreen;
    cursor: pointer;
}

.yellowgreen {
    background: yellowgreen;
}

.assign-num {
    margin-right: 20px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.myprofile {
    width: 80px;
    height: 40px;
    float: right;
    border: 1px solid #ccc;
}

.name-choice,
.assign-number,
.due-date {
    margin-top: 20px;
}


#modal-score {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 50%;
    left: 50%;
}

#modal-score h2 {
    margin: 10px;
}

#modal-score .modal-content {
    width: 300px;
    margin: 100px 100px;
    padding: 20px 10px;
    background: #fff;
    border: 2px solid #666;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal-score .modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* Ensure it appears on top of other content */
}

#content-write {
    margin-top: 10px;
}

.modal-btn {
    margin-top: 20px;
    text-align: center;
}

.modal-save {
    margin-right: 10px;
}

.modal-btn button {
    float: right;
}

.title{
    color: cornflowerblue;
    font-weight: 800;
    cursor: pointer;
}