.header
    h1 MyProfile
    nav
        ul
            li
                a(routerLink="/task/admin/assign") 과제 확인
            li
                a(routerLink="/result/admin") 할당 완료

.assign-setting
    .name-choice
        .name
            h2 이름
        button.no example
        button.no example

    .assign-number
        .number
            h2 과제번호
        button.no example
        button.no example

    .due-date
        .date
            h2 마감기한
        