.header
    h1 MyProfile
    nav
        ul
            li
                a(routerLink="/task/admin/assign") 과제 확인
            li
                a(routerLink="/result/admin") 할당 완료

.assign-setting
    .name-choice
        .name
            h2 이름
        button.no example
        button.no example

    .assign-number
        .number
            h2 과제선택
        button.no example
        button.no example
    
    .due-date
        .date
            h2 면접날짜
        input.no(type="text", placeholder="면접날짜 입력하세요")

    .user_email
        .email
            h2 이메일
        input.no(type="text", placeholder="이메일을 입력하세요")
    
    .user_phone
        .phone
            h2 연락처
        input.no(type="text", placeholder="마감기한을 입력하세요")
    

        