.header
    h1 MyProfile
    nav
        ul
            li
                a(routerLink="/result/admin") 과제 확인
            li
                a((click)="assign()") 할당 완료

.assign-setting
    .name-choice
        .name
            h2 이름
        input.no(type="text", placeholder="이름을 입력하세요", [(ngModel)]="data.name")

    .assign-number
        .number
            h2 과제선택

        tr(*ngIf="!list")
            td.p-6.text-center(colspan=5) 게시글이 없습니다.

        ng-container(*ngIf="list")
            tr(*ngFor="let item of list;let i = index", style="display:inline")
                button.assign-num.text-center((click)="saveAssign(item.title)") {{ item.title }}
    
    .due-date
        .date
            h2 면접날짜 (e.g.2018-07-03 21:40)
        input.no(type="text", placeholder="면접날짜를 입력하세요", [(ngModel)]="data.interview")

    .user_email
        .email
            h2 이메일
        input.no(type="text", placeholder="이메일을 입력하세요", [(ngModel)]="data.email")
    
    .user_phone
        .phone
            h2 연락처
        input.no(type="text", placeholder="연락처를 입력하세요", [(ngModel)]="data.phone")
    
    .user_role
        .phone
            h2 지원 부서 (기술사업부, R&D센터, SW개발센터)
        input.no(type="text", placeholder="지원부서를 입력하세요", [(ngModel)]="data.center")

        