h1 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0.5rem;
    padding: 0;
}

nav {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.icon {
    flex-basis: 25%;
}

.header {
    background: cadetblue;
    padding: 20px;
}

li {
    color: white;
}

a {
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    background: teal;
}

a:hover {
    background: yellowgreen;
    cursor: pointer;
}

a.text-navy {
    margin: 0;
    padding: 0;
    background: none;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.myprofile {
    width: 80px;
    height: 40px;
    float: right;
    border: 1px solid #ccc;
}

// .content-container {
//     position: relative;
//     width: 100%;
//     height: 50px;
// }

// .contentNotice {
//     position: absolute;
//     top: 750%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     max-width: 90%;
//     padding: 20px;
//     box-sizing: border-box;
//     background-color: #f0f0f0;
//     border: 1px solid #ccc;
//     width: 1200px;
//     height: 500px;

// }

$highlight: #2D8BF8;

.side {
    position: absolute;
    right: -170px;
    top: 38px;
}

.btn-login {
    width: 78px;
    height: 32px;
    border: 1px solid $highlight;
    border-radius: 99px;
    opacity: 1;
}

.title {
    width: 500px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relation {
    // border-top: 0.4px solid black;
    height: 100%;
    overflow: auto;

    .active {
        border-left: 2px outset $highlight;

        a {
            color: $highlight;
        }
    }
}


.accordion-body {
    .d-flex {
        >div {
            flex: 1;
        }
    }
}

th {
    text-align: center;
    font-size: inherit !important;
}

.accordion-btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--tblr-accordion-btn-padding-y) var(--tblr-accordion-btn-padding-x);
    font-size: .875rem;
    color: var(--tblr-accordion-btn-color);
    text-align: left;
    background-color: var(--tblr-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--tblr-accordion-transition);
}

.third {
    background-color: #F4F9FE;
}

.thirds {
    &:hover {
        background-color: $highlight;
    }
}