.header
    h1 USER LIST
    nav
        ul
            li
                a((click)="onLoad()") 전체보기
            li
                a((click)="category('season')") 기술사업부
            li
                a((click)="category('rnd')") R&D센터
            li
                a((click)="category('sw')") SW개발센터


.card.border-0.table-card.round-0.shadow-none.px-0
            .table-responsive.round-0
                table.table.table-center.table-nowrap.card-table
                    thead
                        tr
                            th.text-center 이름
                            th.text-center 지원부서
                            th.text-center 제출
                            th.text-center 파일
                            th.text-center 점수
                            th.text-center 피드백
                    tbody
                        tr(*ngIf="!list")
                            td.text-center(colspan=6) 지원자가 없습니다.
                        ng-container(*ngIf="list")
                            tr(*ngFor="let item of list")
                                td.text-center {{ item.name }}
                                td.text-center {{ item.center }}
                                td.text-center
                                td.text-center
                                td.text-center(*ngIf="!score") 점수입력
                                td.text-center(*ngIf="score") 점수출력
                                td.text-center
                                
                               
