.header
    h1 MyProfile
    nav
        ul
            li
                a(href='#') 과제 공지
            li
                a(href='#') 과제 수정
            li
                a((click)="move()") 과제 확인


.content-container
    .contentNotice
        h2.title Notice
    

