// .container
//     label(for='nameInput') Enter your name : 
//         input#nameInput(type='text' [([(ngModel)]="userName")])

// .output
//     p Hello, {{userName}}!


input(type='text', [(ngModel)]='title')
    h1 {{title}}