.header
    a.homebtn(routerLink="/task/admin/notice") 홈
    h1 피드백 작성
    nav
        ul
            li
                a(routerLink="/task/admin/feedback") 뒤로가기
            li
                a((click)="update()") 저장하기
    p 자유롭게 피드백을 작성할 수 있는 페이지입니다. 작성자명을 반드시 기입해 주세요


.d-flex.justify-content-between(style="min-width:100%;")
    div(style="min-width:100%;")
        .card 
            .card-body
                .info-form.row.first-child
                    .col-md-2
                        h4 제목
                    .col-md-10
                        input.form-control(type="text", placeholder="50자 이내 입력 가능", [(ngModel)]="post.title", required="")

                .hr.m-0
                .editor-area.mt-4.mb-4
                    textarea#editor([(ngModel)]="post.content")
                
                

