.card.border-0.table-card.round-0.shadow-none.px-0
            .table-responsive.round-0
                table.table.table-center.table-nowrap.card-table
                    thead
                        tr
                            th.text-uppercase(style="width: 16px;")
                            th.text-uppercase 이름
                            th.text-uppercase 제출
                            th.text-uppercase.text-center 파일
                            th.text-uppercase.text-center 합격/불합격
                            th.text-uppercase.w-1
                    tbody
                        tr()
                            td.text-center(colspan=6) No Data

            .info-form.row
                        .col-md-8
                            form#file
                                input#file-upload.form-control(type='file', name="file", multiple, (change)='upload($event)')

            .info-form.row(*ngIf="post.files && post.files.length > 0")
                .col-md-2
                .col-md-10
                    ul.m-0
                        li(*ngFor="let file of post.files;let i = index")
                            span {{file}}
                            button.btn.btn-sm.btn-square.btn-danger.ml-1(style="padding: 0 4px;", (click)="delete_file(file)") X